
#container-profile {
  margin-top: 20px;
  margin-left: 250px;
}

.booking {
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: all 0.15s ease;
  width: 925px;
  padding-right: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  width: 100%;
}

/* Body design */
.booking-body {
  flex: 1 1 auto;
}
.booking-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.booking-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Upvote design */
.booking-name {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.booking-name {
  margin: 2px 0 0;
}

.booking-details {
  flex: 0 0 10%;
}

a{
  color: #999999;
}


/* Hover effects */
.booking:hover {
  cursor: pointer;
  padding-left:20px;
  padding-right:20px;
}
.booking-name:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}

// .product:hover .product-upvote { transform: scale(1.2) }
.booking:hover a { color: #a84646}
.bookinbooking-body { border-bottom: 9px solid #5898f1 }


// other-----------------------------

.profile-header-wrapper {
  background: white;
}
.profile-header-container img {
  width: 100px;
  border-radius: 50%;
}
.profile-header-container h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
}
.profile-header-container h2 {
  color: white;
  opacity: 0.4;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 0;
  letter-spacing: -1px;
}
.profile-header-infos {
  padding: 20px 0;
}

body {
  margin: 0;
}


//tabs__________
.tabs {
  background:white;
  display: flex;
  padding: 10px 10px 0 10px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #D1CC97;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: #D1CC97;
  border-top: 1px solid #D1CC97;
  border-left: 1px solid #D1CC97;
  border-right: 1px solid #D1CC97;
}
.tab-content {
  padding-top: 50px;
  border-left: 1px solid #D1CC97;
  border-right: 1px solid #D1CC97;
  margin-left: 10px;
  margin-right: 11px;

}
.tab-content p {
  font-weight: bold;
}

.container{
  margin-top: 0;
}

.footer-down{
  min-height: 76vh;
}
