.form-style{
  display: flex !important;
  align-items:center;
  justify-content:center;
}

.flexbox{
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.rightTag{
  padding-right: 20px;
  padding-top: 20px;
}

.center{
  display:inline-block;
}

#description{
  width: 103%;
}

