<div class="footer" id="footeur">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 footer-content">
        <div class="row">
          <div class="flexbox">
            <%= image_tag "logo.png", class: 'logo-footer' %>
            <p class="copyright">© My Curator, Inc</p>
            <ul class="footer-list">
            <li>blablalink</li>
            <li>blablalink</li>
            <li>blablalink</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
