<h1>Home</h1>
<%= link_to "Log In", new_user_session_path %>
<%= link_to destroy_user_session_path, :method => :delete do %>
  <h1>Log Out</h1>
<% end %>
<p><%= link_to "See spaces", spaces_path %></p>
