// Your footer style
.footer {
  margin: 0px 25px 0px 25px;
}

#footeur {
  background-color: white;
}

.footer-content {
    border-top: 1px solid black;
}

.flexbox {
  display: flex;
  align-items: center;
  padding: 20px;
  flex: 1 1 auto
}

.footer-list li {
  display: inline-block;
  padding: 15px 15px;
}

.logo-footer {
  width: 5%;
  height: 5%;
  padding-right: 11px;
}

.copyright {
  margin-right: 20px;
  left: 6em;
  position: absolute;
}

#footer {
    i {
    color: $footer-text;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
      &:hover{
        color: $footer-hover;
    }
  }
    p {
    color:$footer-text;
  }
}
