#facebook-btn {
  background-color: #3B5998;
  width: 555px;
}

#signup {
  margin-bottom: 50px;
  width: 555px;
}

.login-btn {
  width: 555px;
  margin-bottom: 10px;
}

#hrspecial {
  width: 555px;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-right: 215px;
  border: 0;
  border-top: 1px solid #b2b2b2
}


#loginbtn {
  width: 555px;
  margin-bottom: 10px;
}

.noaccount {
  margin-top: 10px;
  font-weight: bold;
  color: #B2B2B2;
}
